:root {
  --text: #374151;
  --text-h: #111827;
  --bg: #ffffff;
  --border: #e5e7eb;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;

  font-family: var(--sans);
  line-height: 1.5;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  color: var(--text-h);
  font-weight: 600;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

p {
  margin: 0;
}
